<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LoginGuide.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3E0AE1FE1E8A9C8B0080EBA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E0AE2121E8A9C8B0080EBA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E0AE21D1E8A9C8B0080EBA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
